.container{
    display: grid;
    padding: 7%;
    background-color: rgb(70, 24, 75)
}

.button{
    border: 2px solid #f56a6a; 
    padding: 1em;
    border-radius: 25px;
    color: #f56a6a;
    background-color: white;
    font-size: 75%;
    width: 200px;
}
.button:hover{
    background-image: url("button.jpg");
    color: white;
    cursor: pointer;
    border: 2px solid #f56a6a;   
}

.nav-desplegable,submenu {
    color: white;
    padding: 12.8px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    width: 100%;
    }
    
.nav-desplegable, .submenu {
    position: relative;
    left : 0;
    width : 4%;       
    }

.nav-desplegable-content, .submenu-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    }
    

.nav-desplegable-content li, .submenu-content li {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    }
    
.nav-desplegable-content li:hover, .submenu-content li:hover {
    background-color: #f1f1f1;
}
    
.nav-desplegable:hover .nav-desplegable-content, .submenu:hover .submenu-content {
    display: block;
    }
    
.nav-desplegable:hover .nav-desplegable-button, .submenu:hover .submenu-button {
    background-color: #a2ada2;
    }

.seccion1{
    background-color: rebeccapurple;
}

.seccion2 { 
    background-color: white;
    overflow: hidden;
    box-shadow: 1px 1px 0px  rgb(0, 102, 255);
    color: black;
    padding: 10%;
}

.seccion2 .media, .seccion2 .body { 
    width: 50%;
    display: inline-block;
    text-align: center;
}

.seccion2 .media, .seccion2 .body{ 
    float: right;
}

.paralax-background {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.seccion3{
    background-color: blue;
        height: 100vh;
        background-image: url("pic3.jpg"); 
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 1em;
        text-transform: capitalize;
        min-height: 600px;
}
.seccion4{
    display: grid;
    background-color:white;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding: 4%;
}

.seccion4 > div{
    display: flex;
    justify-content: center;
    align-content: center;
    object-fit: cover;
    padding: 1.5%;
    margin: 0%;
}

.seccion4 div img{
    visibility: visible;
}

.seccion4 div:hover img{
    visibility: hidden;
}

div:hover{
    background-color: plum;
}

.seccion5{
    background-color: yellow;
}
.seccion6{
    background-color: pink;
}
.seccion7{
    background-color: palevioletred;
    text-align: center;
    justify-content: center;
}

.nav-footer ul li {
    display: inline-block;
    float: center;
    text-align: center;
    margin-top: 0;
    font-size: 1em; 
    justify-content: center;  
}

.nav-footer ul li a{ 
    display: block;
    height: 100%;
    width: 100%;
    text-decoration: none;
    color: inherit;
    text-transform: uppercase;
    padding: 1em;
    justify-content: center;
}

.nav-footer ul li:hover{
    color: purple;
}

.flex-container-logos li{
    color: #a8abad;   
    padding: 1em;
}

.flex-container-logos ul{
    width: 100%;
    list-style: none;
    display: flex;
    flex-direction: row;
}