.container{
    display: grid;
    padding: 7%;
    background-color: rgb(0, 0, 0);
}

.button{
    border: 2px solid #f56a6a; 
    padding: 1em;
    border-radius: 25px;
    color: #f56a6a;
    background-color: white;
    font-size: 75%;
    width: 200px;
}
.menu{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.menu{
    z-index: 2;
    grid-column-start: 2;
    justify-self: center;
    display: inline-block;
    width: 40%;
}

.menu ul {

    width: 40%;
    display: flex;
    flex-direction: row;
}

.menu ul li{
    list-style: none;
    margin-right: 3.5em;
}

.menu ul li a{
    text-decoration: none;
    color: rgb(252, 52, 52);
    text-transform: uppercase;
    font-size: 0.8em;
    transition: 0.3s;
}

.menu ul li a:hover{
    color: rgb(255, 197, 197);
    transition: 0.3s;
}


.button:hover{
    background-image: url("button.jpg");
    color: white;
    cursor: pointer;
    border: 2px solid #f56a6a;   
}

.submenu {
    color: white;
    padding: 12.8px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    width: 100%;
    }
    
.submenu {
    position: absolute;
    left: 65%;
    width: 30%;
    display: inline-block;      
}

.submenu-content {
    display: none;
    position: absolute;
    min-width: 160px;
}
    

.submenu-content li {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: inline-block;
    }
    
.submenu-content li:hover {
    color: red;
}
    
.submenu:hover .submenu-content {
    display: inline-block;
    padding:0 10px;
    
}

.logo{
    display: inline-block;
    margin-top: -5%;
    width: 20%;
}

.seccion1{
    background-image: url("pic1.jpg");
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1em;
    text-transform: capitalize;
    min-height: 600px;
    background-color:rgb(255,0,0);
    opacity:0.5;
}

.contenido{
    text-align: center;
    justify-content: center;
}

.contenido h1{
    color: black;
    font-size: 4em;
    text-shadow: 1px 1px white; 
    text-align: center
}

.seccion2 { 
    background-color: white;
    overflow: hidden;
    box-shadow: 1px 1px 0px  rgb(0, 102, 255);
    color: black;
    padding: 10%;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    float: right;
}

.seccion2 .media, .seccion2 .body { 
    width: 50%;
    display: inline-block;
    text-align: left;
    justify-content: center;
}

.paralax-background {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.seccion3{
    height: 70vh;
    background-image: url("pic3.jpg"); 
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em;
    text-transform: capitalize;
    min-height: 600px;
    overflow: hidden;;
    color: black;
    flex-wrap: wrap;
    float: right;
}

.topic{
    width: 50%;
    display: inline-block;
    text-align: left;
    justify-content: right;
    display: flex;
    flex-wrap: wrap;
    color: black;
    overflow: hidden;
}

.topic p{
    position: relative;
    width: 100%;
    min-height: 1px;
    font-size: 30px;
    text-decoration: black;
    background-color: rgba(255, 255, 255, 0.5);
}

.fantasma{
    display: inline-block;
}

.seccion3 .fantasma, .seccion3 .topic { 
    width: 50%;
    display: inline-block;
    text-align: left;
    justify-content: center;
}

.seccion4{
    display: grid;
    background-color:white;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding: 4%;
}

.seccion4 > div{
    display: flex;
    justify-content: center;
    align-content: center;
    object-fit: cover;
    padding: 0%;
    margin: 3%;
}

.seccion4 p{
    text-align: center;
    padding-top: 35%;
}

.animacion{
    background-image: url("pic4.jpg"); 
    width: 550px;
    height: 500px;
    padding: 10%;
}

.animacion1{
    background-image: url("pic6.jpg"); 
    width: 550px;
    height: 500px;
    padding: 10%;
}

.animacion2{
    background-image: url("pic7.jpg"); 
    width: 550px;
    height: 500px;
    padding: 10%;
}

.animacion3{
    background-image: url("pic8.jpg"); 
    width: 550px;
    height: 500px;
    padding: 10%;
}

.caja{
    background: rgb(238, 36, 36);
    opacity: 0.7;
    display: none;
    padding: 10px;
    color: white;
    font-weight: bold;
    font-size: 25px;
    width: 100%;
}

.animacion:hover .caja{
    display: block;
}

.caja1{
    background: rgb(238, 36, 36);
    opacity: 0.7;
    display: none;
    padding: 10px;
    width: 100%;
    color: white;
    font-weight: bold;
    font-size: 25px;
}

.animacion1:hover .caja1{
    display: block;
}

.caja2{
    background: rgb(238, 36, 36);
    opacity: 0.7;
    display: none;
    padding: 10px;
    width: 100%;
    color: white;
    font-weight: bold;
    font-size: 25px;
}

.animacion2:hover .caja2{
    display: block;
}

.caja3{
    background: rgb(238, 36, 36);
    opacity: 0.7;
    display: none;
    padding: 10px;
    width: 100%;
    color: white;
    font-weight: bold;
    font-size: 25px;
}

.animacion3:hover .caja3{
    display: block;
}

.seccion5{
    padding-top: 5%;
    padding-bottom: 1%;
    background-image: url("pic9.jpg"); 
    background-color:rgb(255,0,0);
    opacity:0.6;
    height: 60vh;
}

.cajitas, .texto{
    text-align: center;
}

.texto{
    color: black;
}

.btn{
    text-align: right;
    width: 1150px;
}

input[type=email]{
    padding: 7px;
    border: 1px solid #e06363;
    border-radius: 4px;
    width: 497px;
    background: transparent;
}

input[type=text]{
    padding: 7px;
    border: 1px solid #e06363;
    border-radius: 4px;
    width: 497px;
    background: transparent;
}

textarea[name=wish]{
    padding: 7px;
    border: 1px solid #e06363;
    border-radius: 4px;
    background: transparent;
}

.seccion6{
    background-color: white;
    text-align: center;
    height: 50vh;
}

.subs{
    padding-top: 6%;
    color: rgb(102, 99, 99);
}

.subs h1{
    font-size: 3em;
}

.seccion7{
    background-color: rgb(32, 32, 32);
    text-align: center;
    justify-content: center;
    height: 50vh;
    color: white;
}

.pie{
    padding: 5%;
    padding-top: 5%;
}

.nav-footer ul li {
    display: inline-block;
    text-align: center;
    margin-top: 0;
    justify-content: center; 
    font-size: 1em;
    font-weight: 300;
    line-height: 1.5em; 
    padding: 2%;
}

.nav-footer ul li a{ 
    display: block;
    height: 100%;
    width: 100%;
    text-decoration: none;
    color: inherit;
    text-transform: uppercase;
    padding: 1em;
    justify-content: center;
}

.nav-footer ul li:hover{
    color: red;
}

.flex-container-logos li{
    color: #a8abad;   
    padding: 1em;
}

.flex-container-logos ul{
    width: 100%;
    list-style: none;
    display: flex;
    flex-direction: row;
}

.emoji{
    color: red;
    display: inline-block;
}

